* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

/* -----leyout---- */
.leyout {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}

.leyout .logo {
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    color: #000000;
    text-transform: uppercase;
    display: flex;
    align-items: center;

}

.leyout .logo img {
    height: clamp(70px, 7vw, 14vw);
    width: clamp(70px, 7vw, 14vw);
    margin-right: 10px;
}

.leyout section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    margin-right: 20px;
}

.leyout section button {
    border: none;
    color: #000000;
    background: none;
    font-size: clamp(1rem, 1.5vw, 3rem);
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;

}

.leyout section #b2 {
    width: 200px;
    color: white;
    background-color: rgb(255, 166, 0);
    border-radius: 15px;
}

/* -----exibição---- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.fundo {
    width: 100%;
    height: calc(100vh - 100px);
}

.fundo img {
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}

.circulo {
    position: relative;
    height: 35vw;
    width: 35vw;
    min-width: 250px;
    min-height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    left: 3vw;
    top: 50%;
    transform: translateY(-50%);
}

.circulo .bem_vindo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(0.7rem, 1.5vw, 3rem);
    color: #000000;
    text-align: center;
    width: 80%;
    z-index: 1;
}

/* -----clinicas---- */
#nossas_clinicas {
    font-size: clamp(1.5rem, 3vw, 4rem);
    color: #000000;
    text-align: center;
    margin: 40px 0 20px 0;
    text-transform: uppercase;
}

.propaganda {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os itens que não couberem na linha sejam movidos para a próxima linha */
    justify-content: space-around;
    width: 100vw;
    margin-top: 40px;
}

.propaganda section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    /* Ajuste a largura conforme necessário */
    min-width: 300px;
    margin-bottom: 40px;
    /* Espaço entre as seções */
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.propaganda img {
    height: 13vw;
    width: 13vw;
    min-width: 100px;
    min-height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    /* Espaçamento entre a imagem e o texto */
}

.propaganda h2 {
    color: #0077b6;
    font-size: clamp(1.2rem, 2vw, 2rem);
    margin-bottom: 10px;
}

.propaganda p {
    color: #333;
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
    line-height: 1.6;
    text-align: left;
    margin: 10px;
}

/* -----contato---- */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    min-height: 20vh;
    max-height: 400px;
    background: linear-gradient(135deg, #09131b, #001b1c);
    margin-top: 40px;
    color: rgb(255, 255, 255);
}

.contato section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    height: 70%;
    margin-right: 10%;
}

.cadastro,
.login {
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 300px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 30px rgb(255, 123, 0);
    border-radius: 15px;
    z-index: 10;
}

.cadastro{
    height: 400px;
}

.cadastro section,
.login section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(255, 123, 0);
}

.cadastro section button,
.login section button {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(255, 123, 0);
}

.cadastro form,
.login form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login form input,
.cadastro form input{
    font-size: 15px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
}

.cadastro form button,
.login form button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(255, 123, 0);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}